{% extends "base.html" %} {% block content %}

<div class="card card-profile my-5 mx-auto">
  <div class="card-body">
    <h5 class="card-title text-center">プロフィール</h5>
    <table class="profile_table mb-4">
      <h3>名前</h3>
      <a href="{% url 'accounts:user_profile' object.username %}">{{object.username}}</a><br>
    </table>
  </div>
</div>
<p>
  <a href="{% url 'accounts:following_list' user.username %}">フォロー</a>:{{ following }} /
  <a href="{% url 'accounts:follower_list' user.username %}">フォロワー</a>:{{ follower }}
</p>
<div>
  {% if object.username != request.user.username %}
  {% if is_following %}
  <form action="{%  url 'accounts:unfollow' user.username %}" method="POST">{% csrf_token %}
    <button type="submit">フォロー解除</button>
  </form>
  {% else %}
  <form action="{%  url 'accounts:follow' object.username %}" method="POST">{% csrf_token %}
    <button type="submit">フォロー</button>
  </form>
  {% endif %}
  {% endif %}
</div>
</div>
{% for tweet in tweet_list %}
<div>
  <p>投稿者 : {{ tweet.user }}</p>
  <p>作成日時 : {{ tweet.created_at }}</p>
  <p>内容 : {{ tweet.content }}</p>
  <a href="{% url 'tweets:detail' tweet.pk %}">詳細</a>
</div>
{% endfor %}
{% endblock %}
