{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<body>
  <h1>Homeです。</h1>
  <p><a href="{% url 'tweets:create' %}"><button type="button">ツイート作成</button></a></p>
  {% for tweet in tweet_list %}
  <div>
    <p>投稿者 : {{ tweet.user }}</p>
    <p>作成日時: {{ tweet.created_at }}</p>
    <p>内容 : {{ tweet.content }}</p>
    {% include 'tweets/like.html' %}
    <a href="{% url 'tweets:detail' tweet.pk %}">詳細</a>
  </div>
  <script src="{% static 'like.js' %}"></script>
</body>
{% endfor %}
{% endblock %}
