<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Twitter Clone{% endblock %}</title>
</head>

<body>
  {% if request.user.is_authenticated %}
  [{{ request.user.username }}]
  <a href="{% url 'accounts:logout' %}">ログアウト</a>
  <a href="{% url 'tweets:home' %}">ホーム画面</a>
  {% else %}
  <a href="{% url 'accounts:signup' %}">サインアップ</a>
  <a href="{% url 'accounts:login' %}">ログイン</a>
  {% endif %}
  {% block content %}
  {% endblock %}
</body>

</html>
